/* Styles for individual photos shown by showpix.php,
 * and the nav buttons used on those pages.
 */

.picnav {
  margin: 1.2em auto 1.4em 2em;
  padding: .3em;

  /* I'd like this to be in its own area, but none of this
   * background-setting works right.
   *
   * If it's display: block (per default) then the margin and
   * padding work, but the height doesn't cover the buttons and
   * if I try to set width all the buttons draw on top of each other.
   *
   * If it's display: inline, the buttons space out nicely and the
   * background color wraps around them, but margin and padding
   * stop working.
   *
  background: white;
  height: 3em;
  width: 7em;
  display: inline;

  outline: red solid thin;
  */

}

.picnav a {
  display: inline;
  margin: auto 1em;
  padding: .2em 1em;
  background: #dff;
  color: black;
  border: 2px outset;
  text-decoration: none;
  font-style: italic;
  font-weight: bold;
}

.picnav li a:hover {
  background: #fff;
}

/* a.nav { font-weight: bold; font-style: italic; } */

.navbar a { border: #eee 2px outset; padding: 4px; background: #eee;
            text-decoration: none; font-weight: bold; font-style: italic; }

.navbar a:hover { background: #eff; }

/* Styling that makes the page more mobile-friendly on small screens*/
@media (max-width: 900px) {
    img { max-width: 100%; height: auto; }
    .picnav { display: table; padding: 2px; margin: 2px; width: 99%; }
    .picnav a { display: table-cell; max-width: 10em; line-height: 1.2; }
}


